<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Split Component</title>
    <script src="https://cdn.tutorialjinni.com/animejs/3.2.2/anime.min.js"></script>
    <link rel="stylesheet" href="../css/image-split.css">
    <script src="../js/image-split.js" defer></script>
</head>
<body>
    <main class="container">
        <image-split 
            left-image="https://www.vilvahstore.com/cdn/shop/files/Milk-Facial-Toner_Product-page__2.jpg"
            right-image="https://www.vilvahstore.com/cdn/shop/files/Milk-Facial-Toner_Product-page__2.jpg"
            left-alt="Image 1"
            right-alt="Image 2">
        </image-split>
    </main>
</body>
</html>