<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Pipeline Blueprint Chart</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <link rel="stylesheet" href="../css/pipeline-chart.css">
    <script src="https://cdn.jsdelivr.net/npm/countup.js@2.8.0/dist/countUp.umd.js"></script>
    <script src="../js/pipeline-chart.js" defer></script>
</head>
<body>
    <div class="pipeline-chart-wrapper pipeline-container" data-items='[
            {"name": "Not Found", "value": "618"},
            {"name": "Skincare", "value": "550"},
            {"name": "Identified", "value": "485"},
            {"name": "Unique", "value": "345"},
            {"name": "Sources", "value": "341"},
            {"name": "Restored", "value": "240"}
    ]'></div>
</body>
</html>