<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Single Scan Cell</title>
    <script src="https://cdn.tutorialjinni.com/animejs/3.2.2/anime.min.js"></script>
    <link rel="stylesheet" href="../css/single-scan-cell.css">
    <link rel="stylesheet" href="../css/image-split.css">
    <link rel="stylesheet" href="../styles/ingredients-list.css">
    <script src="../js/image-split.js"></script>
    <script src="../js/ingredients-list.js"></script>
    <script src="../js/single-scan-cell.js"></script>
</head>
<body>
    <main class="container">
        <single-scan-cell
            title="Milk Facial Toner"
            brand="Vilvah"
            left-image="https://www.vilvahstore.com/cdn/shop/files/Milk-Facial-Toner_Product-page__2.jpg"
            right-image="https://www.vilvahstore.com/cdn/shop/files/Milk-Facial-Toner_Product-page__2.jpg"
            ingredients='[{"name":"Water","verified":true},{"name":"Butylene Glycol","verified":true},{"name":"Hydrogenated Poly(C6-14 Olefin)","verified":false}]'>
        </single-scan-cell>
    </main>
</body>
</html>